<ion-header [translucent]="true">
  <ion-menu-button></ion-menu-button>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  
  </ion-header>

  <ion-list>
    <ion-item>
      <img src="../../assets/dawrin.jpg" style="height: 400px;">
    </ion-item>
    <ion-item>
      <h2><strong>Nombre:</strong> Dawrin Peguero Alvarez</h2>
    </ion-item>
    <ion-item><h2><strong>Matricula:</strong> 2021-1437</h2></ion-item>
  </ion-list>

</ion-content>
